.App {
  text-align: center;

  height: 100vh;
  background-color: #EFEDEC;
  display: flex;
  padding: 3rem;
}

.right-content {
  display: flex;

  margin-left: 8rem;
  
  flex-direction: column;
}

